table {
    border-collapse: collapse;
    width: 800px;
}

table td, table th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

table thead {
    background: #ddd;
}

body {
    font-family: sans-serif;
}

table caption {
    caption-side: bottom;
    text-align: left;
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
}

tfoot td {
    background: #ddd;
    font-style: italic;
}

.responsive-table {
    max-width: 100%;
    overflow-x: auto;
}